/* Sales.css */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
  }
  
  .sales-container {
    max-width: 1200px;

    padding: 1rem;
  }
  
  .filter-section,
  .export-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .filter,
  .export-button {
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 0.5rem;
  }
  
  .sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .sales-table th,
  .sales-table td {
    border: 1px solid #e9cce0;
    padding: 0.5rem;
    text-align: center;
  }
  
  .sales-table th {
    background-color: #f0e3eb;
  }
  
  .filter select,
  .export-button button {
    padding: 0.5rem;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .export-button button {
    background-color: #4caf50;
    color: white;
    border: none;
  }
  
  .export-button button:hover {
    background-color: #45a049;
  }
  
  .search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
    
  }