
header{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 20vh;
    color: #1f1e1e;
    padding: 10px 0;
    width: 100vw;
}

.logomenu {
    margin: 5px;
    width: 140px;
    height: 100px;
    margin-right: 200px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    color: #030303;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: #c20492;
    text-decoration: none;
}
.iconos{
display:flex;
flex-direction: row;

margin: 5px;
width: 70px;
height: 50px;
}



